<div class='container-fluid text-center'>
    <h1>Have a look at our menu!</h1>
    <p>Our food is prepared as you order! Take a look and decide on your favorite! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, dolorem modi itaque fugiat eum incidunt voluptas est voluptates corrupti maxime excepturi officiis neque aliquam vel quisquam maiores debitis voluptatum aut.</p>
</div>