<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have recieved an email! Congrats! It's from
        <=% "#{ @name } , #{ @email } #{ @body }." %> </p>
        <p>
            <=% #{ @body} %>
        </p>
        
    </body>
        
        
    
</html>