/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets" ;
 @import "bootstrap" ;
 

h1:hover {
 color: white;
}

// Typography Styles
.navbar-default .navbar-nav > li > a , .navbar-default .navbar-brand{
 color:crimson;
 &:hover {
  color:crimson;
  opacity:0.75;
 }
 
}

// Homepage styles
.home-callout {
  font-family: 'Orbitron';
  font-size: 90px;
  margin-top: -20px;
  padding-bottom: 100px;
  padding-top: 100px;
}

//background color
nav , .home-callout  {
    font-family :'Orbitron', 'Sans-Seriff' ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+31,398235+100 */
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 31%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 31%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 31%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 ); /* IE6-9 */
    
        
}

