/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets" ;
 @import "bootstrap" ;
 
 h1, h2, h3 {
     font-family : 'Open Sans', 'Sans-Seriff';
 }

body {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbedad+0,d9bd63+23,90291e+66,1f4a8b+100 */
    background: rgb(219,237,173); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(219,237,173,1) 0%, rgba(217,189,99,1) 23%, rgba(144,41,30,1) 66%, rgba(31,74,139,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(219,237,173,1) 0%,rgba(217,189,99,1) 23%,rgba(144,41,30,1) 66%,rgba(31,74,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(219,237,173,1) 0%,rgba(217,189,99,1) 23%,rgba(144,41,30,1) 66%,rgba(31,74,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbedad', endColorstr='#1f4a8b',GradientType=1 ); /* IE6-9 */

}

nav {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbedad+0,d9bd63+23,90291e+66,1f4a8b+100 */
    background: rgb(219,237,173); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(219,237,173,1) 0%, rgba(217,189,99,1) 23%, rgba(144,41,30,1) 66%, rgba(31,74,139,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(219,237,173,1) 0%,rgba(217,189,99,1) 23%,rgba(144,41,30,1) 66%,rgba(31,74,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(219,237,173,1) 0%,rgba(217,189,99,1) 23%,rgba(144,41,30,1) 66%,rgba(31,74,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbedad', endColorstr='#1f4a8b',GradientType=1 ); /* IE6-9 */

}
